section {
  width: 100%; }

.main_play {
  background-color: #f7f7f7; }

.play_header {
  border-top: 1px solid #d0d0d0;
  text-align: center;
  height: 133px;
  background-color: #ffffff; }
  .play_header h1 {
    line-height: 100px; }
  .play_header ul {
    list-style: none;
    margin: auto;
    width: 200px; }
    .play_header ul li {
      width: 100px;
      line-height: 30px;
      cursor: pointer; }
    .play_header ul li:hover {
      border-bottom: 2px solid orangered;
      color: orangered; }

a {
  text-decoration: none;
  color: #000; }

.main_play_1 {
  width: 1200px;
  margin: auto;
  padding-top: 30px; }

.main_play_2 {
  width: 1200px;
  padding-top: 30px;
  margin: auto;
  display: none; }

.main_play_ul li {
  list-style: none;
  width: 280px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #e5e6eb;
  margin-bottom: 26px; }

.play_2 {
  padding: 10px; }

.ioc4 {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(img/readMore.png) no-repeat; }

.ioc7 {
  display: inline-block;
  width: 24px;
  height: 10px;
  background: url(img/more.png) no-repeat; }

.ioc5 {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(img/xin.png) no-repeat; }

.ioc2 {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(img/reply.png) no-repeat; }
