section{
	width: 100%;
	padding: 20px 0px;
	background-color: #f7f7f7;
}
.ioc15{
	display: inline-block;
	width: 20px;
  height: 20px;
	border-radius: 50%;
  vertical-align: text-bottom;
	background: url(img/tx.jpg);
	}
.main{
	width:1200px;
	margin: auto;
	
}
.main_left{
	width: 860px;
	float: left;
	background-color: #fff;
	.main_heater{
		padding: 20px;
		border-bottom: 1px solid #dfdfdf;
		p{
			line-height: 30px;
		}
	}
}
.main_center{
	padding: 26px;
	img{
		padding: 20px 0; 
		width: 100%;
	}
	p{
		line-height: 30px;
	}
}
.main_right{
	width: 260px;
	float: right;
	ul{
		list-style: none;
		li{
			float: left;
			width: 70px;
			height: 48px;
			text-align: center;
			color: #a8a8a8;
			border: 1px solid #a8a8a8;
			background-color: white;
			padding: 11px 0px;
			cursor: pointer;
		}
	}
}
.ioc8{
	display: inline-block;
	width:26px;
	height:24px;
	background: url(img/xinRedo.png) no-repeat;
}
.ioc9{
	display: inline-block;
	width:26px;
	height:24px;
	background: url(img/share_yj1.png) no-repeat;
}