section{
	width: 100%;
	background-color: #f7f7f7;
	}
.ioc4{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(img/readMore.png) no-repeat;
	}
.ioc10{
	width: 38px;
	height: 38px;
	background-image: url(img/use1.png);
	background-repeat: no-repeat;
}
.ioc11{
	width: 38px;
	height: 38px;
	background-image: url(img/use2.png);
	background-repeat: no-repeat;
}
.ioc12{
	width: 38px;
	height: 38px;
	background-image: url(img/use3.png);
	background-repeat: no-repeat;
}
.ioc13{
	width: 38px;
	height: 38px;
	background-image: url(img/use4.png);
	background-repeat: no-repeat;
}
.ioc14{
	width: 38px;
	height: 38px;
	background-image: url(img/use5.png);
	background-repeat: no-repeat;
}
.header{
	background-image:url(img/original.jpg);
	background-size: 100% 100%;
	height: 305px;
	background-position-x: -200px;
	div{
		width: 1200px;
		margin: auto;
		div{
			float: right;
			color: white;
			font-size:14px;
			line-height: 58px;
			margin-top: 30px;
			text-align: right;
			p{
				span{
					display: inline-block;
					background-color: #f7d29b;
					margin-left: 5px;
					text-align: center;
					line-height: 36px;
					border-radius: 5px;
				}
			}
			button{
				background-color: orangered;
				width: 244px;
				height: 50px;
				text-align: center;
				font-size:22px;
				line-height: 50px;
				border: 0px;
				border-radius: 5px;
				outline: medium;
				color: white;
				}
			}
		}
	}
.header1{
	width: 100%;
	div{
		width: 1200px;
		margin: auto;
		div{
			border-left: 4px solid orangered;
			padding-left: 20px;
			float: left;
			margin-top: 28px;
			width: 34px;
		}
		ul{
			height: 104px;
			li:hover{
				border-bottom: 2px solid orangered;
			}
			li{
				list-style: none;
				text-align: center;
				margin: 20px;
				font-size:14px;
				color: #88888b;
				cursor: pointer;
				i{
					display: inline-block;
				}
			}
		}
	}
}
.main_hot{
	background-color: white;
	width: 100%;}
.main_hot1{
	width: 1200px;
	margin: auto;
	ul{
		li{
			list-style: none;
			border-radius:8px;
			overflow: hidden;
			width: 280px;
			border: 1px solid #e5e6eb;
			height: 314px;
			margin-bottom: 26px;
		}
	}
}
.main_left{
	float: left;
	width: 800px;
	line-height: 30px;
	h3{
		color: royalblue;
		line-height: 100px;
	}
}
.main_right{
	float: right;
	width: 300px;
	line-height: 30px;
	button{
		width: 300px;
		height: 38px;
		border: 0px;
		background-color: orangered;
		color: #fff;
		margin: 20px 0;
	}
}
.main_p{
	border-left:4px solid orangered; 
	padding-left:20px;
	font-size: 20px;
	margin: 30px 0;
}
.main_right_p{
	font-size: 12px;
	color: #909090;
	line-height: 20px;
}
a{text-decoration: none;}
.hot_1{
	position: relative;
	p{
		position: absolute;
		width: 40px;
		height: 20px;
		background-color: orangered;
		border-radius: 0px 5px 0px 5px;
		color: white;
		font-size: 12px;
		text-align: center;
		line-height: 20px;
		top: 0px;left: 240px;}
	}
.hot_2{text-align: center;}
.hot_2_span{
	display: inline-block;
	width:50px;
	height: 26px;
	line-height: 26px;
	border: 1px solid orangered;
	border-radius:5px;
	margin-left: 10px;
	}
.hot_2 p{
	color: #000000;
	line-height: 30px;
	}